html,
body{
  background-color: white;
  color: black;
  min-height: 100%;
}
@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src: url('/fonts/JetBrainsMonoNerdFont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root{
  width: 100%
}